@inject IJSRuntime JS
@implements IAsyncDisposable

<div id="@MapId" class="maplibre-map"></div>

@code {
    [Parameter]
    public string MapId { get; set; } = "map";

    [Parameter]
    public double InitialLatitude { get; set; } = 40.4168; // Madrid por defecto

    [Parameter]
    public double InitialLongitude { get; set; } = -3.7038;

    [Parameter]
    public int InitialZoom { get; set; } = 6;

    [Parameter]
    public EventCallback<(double Latitude, double Longitude)> OnMapClick { get; set; }

    private DotNetObjectReference<MapLibreComponent>? objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("initializeMap", MapId, InitialLongitude, InitialLatitude, InitialZoom, objRef);
        }
    }

    [JSInvokable]
    public async Task HandleMapClick(double latitude, double longitude)
    {
        // Agregar marcador automáticamente
        await JS.InvokeVoidAsync("addMarker", MapId, longitude, latitude);
        
        // Notificar al componente padre
        await OnMapClick.InvokeAsync((latitude, longitude));
    }

    public async Task AddMarker(double latitude, double longitude)
    {
        await JS.InvokeVoidAsync("addMarker", MapId, longitude, latitude);
    }

    public async Task FlyTo(double latitude, double longitude, int zoom = 18)
    {
        await JS.InvokeVoidAsync("flyToLocation", MapId, longitude, latitude, zoom);
    }

    public async ValueTask DisposeAsync()
    {
        if (objRef != null)
        {
            try
            {
                await JS.InvokeVoidAsync("removeMap", MapId);
            }
            catch { }
            objRef.Dispose();
        }
    }
}
